<footer class="footer">
  <div class="footer__top">
    <div class="footer__column">
      <img
        class="footer__image"
        src="https://images.unsplash.com/photo-1597838816882-4435b1977fbe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=948&q=80"
        alt=""
      />
    </div>
    <div class="footer__column">
      <h2 class="footer__title">About</h2>
      <p class="footer__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s
      </p>
    </div>
    <div class="footer__column footer__column--links">
      <h2 class="footer__title">Links</h2>
      <a href="" class="footer__more-links">Sample Menus</a>
      <a href="" class="footer__more-links">Venues</a>
      <a href="" class="footer__more-links">Image Gallery</a>
      <a href="" class="footer__more-links">Weddings</a>
      <a href="" class="footer__more-links">Testimonials</a>
    </div>
    <div class="footer__column">
      <h2 class="footer__title">Find Us</h2>
      <div class="footer__contact">
        <p>Salem, Oregon</p>
        <p>407-920-4135</p>
        <a href="mailto:rterry5@gmail.com" class="footer__email">
          rterry5@gmail.com
        </a>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__line"></div>
    <ul class="footer__links-list">
      <li class="footer__link-item">
        <a href="" class="footer__link">About</a>
      </li>
      <li class="footer__link-item">
        <a href="" class="footer__link">Services</a>
      </li>
      <li class="footer__link-item">
        <a href="" class="footer__link">Menus</a>
      </li>
      <li class="footer__link-item">
        <a href="" class="footer__link">Events</a>
      </li>
      <li class="footer__link-item">
        <a href="" class="footer__link">Contact Us</a>
      </li>
    </ul>
    <div class="footer__copyright">
      <p class="footer__copyright-text">
        Copyright @2021 | Designed by
        <a
          href="http://rebeccaterry.dev/"
          target="_blank"
          class="footer__copyright-link"
          >Rebecca J. Terry</a
        >
      </p>
    </div>

    <div class="footer__social">
      <ul class="footer__social-list">
        <li class="footer__social-profile">
          <a href="" class="footer__social-link"
            ><img src="assets/facebook.png" alt="" class="footer__icon"
          /></a>
        </li>
        <li class="footer__social-profile">
          <a href="" class="footer__social-link"
            ><img src="assets/instagram.png" alt="" class="footer__icon"
          /></a>
        </li>
        <li class="footer__social-profile">
          <a href="" class="footer__social-link"
            ><img src="assets/linkedin.png" alt="" class="footer__icon"
          /></a>
        </li>
        <li class="footer__social-profile">
          <a href="" class="footer__social-link"
            ><img src="assets/twitter.png" alt="" class="footer__icon"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
