<section class="grid scroll-element js-scroll fade-in">
  <div class="grid__container">
    <div class="grid__box grid__box--wide grid__div2">
      <p class="grid__text">What We Do</p>
    </div>
    <div class="overlay overlay--div3">
      <div class="grid__box grid__div3">
        <p class="grid__text">Catering</p>
      </div>
    </div>
    <div class="overlay overlay--div4">
      <div class="grid__box grid__div4">
        <p class="grid__text">Event Planning</p>
      </div>
    </div>
    <div class="overlay overlay--div5">
      <div class="grid__box grid__div5">
        <p class="grid__text">Private Events</p>
      </div>
    </div>
    <div class="overlay overlay--div6">
      <div class="grid__box grid__div6">
        <p class="grid__text">Weddings</p>
      </div>
    </div>
    <div class="overlay overlay--div7">
      <div class="grid__box grid__div7">
        <p class="grid__text">Event Decor</p>
      </div>
    </div>
    <div class="overlay overlay--div8">
      <div class="grid__box grid__div8">
        <p class="grid__text">Custom Menus</p>
      </div>
    </div>
  </div>
</section>
