<div class="services scroll-element js-scroll fade-in-bottom">
  <div class="service">
    <div class="service__title">
      <p class="service__title-text">Events</p>
    </div>
    <img
      class="service__info-image"
      src="https://images.unsplash.com/photo-1530023367847-a683933f4172?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80"
      alt=""
    />
    <p class="service__info-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
      mauris augue, pulvinar quis mollis pulvinar, finibus faucibus sem.
    </p>
  </div>
  <div class="service">
    <div class="service__title">
      <p class="service__title-text">Menus</p>
    </div>
    <img
      class="service__info-image"
      src="https://images.unsplash.com/photo-1601313054600-a52c4b1a09ed?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
      alt=""
    />
    <p class="service__info-text">
      Maecenas placerat luctus dolor at pretium. Duis ultricies sapien
      neque.
    </p>
  </div>
  <div class="service">
    <div class="service__title">
      <p class="service__title-text">Services</p>
    </div>
    <img
      class="service__info-image"
      src="https://images.unsplash.com/photo-1502635385003-ee1e6a1a742d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
      alt=""
    />
    <p class="service__info-text">
      Etiam vel risus viverra, sollicitudin ligula eu, vehicula massa.
      Aliquam erat volutpat.
    </p>
  </div>
  <div class="service">
    <div class="service__title">
      <p class="service__title-text">Catering</p>
    </div>
    <img
      class="service__info-image"
      src="https://images.unsplash.com/photo-1574782093051-5c9b8bd72d0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
      alt=""
    />
    <p class="service__info-text">
      Nullam nec arcu pharetra, faucibus justo sed, porta erat.
    </p>
  </div>
</div>
