<section class="section">
  <div class="section__container">
    <div class="section__item">
      <h2>Just a title</h2>
      <p class="section__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
        mauris augue, pulvinar quis mollis pulvinar, finibus faucibus sem.
        Maecenas placerat luctus dolor at pretium. Duis ultricies sapien
        neque. Etiam vel risus viverra, sollicitudin ligula eu, vehicula
        massa. Aliquam erat volutpat. Pellentesque placerat egestas risus,
        sit amet euismod neque tristique vel. Praesent id sapien mattis,
        semper tortor vitae, tempor tortor. Nullam nec arcu pharetra,
        faucibus justo sed, porta erat.
      </p>
    </div>
  </div>
  <div class="section__container">
    <div class="section__item">
      <p class="section__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
        mauris augue, pulvinar quis mollis pulvinar, finibus faucibus sem.
        Maecenas placerat luctus dolor at pretium. Duis ultricies sapien
        neque. Etiam vel risus viverra, sollicitudin ligula eu, vehicula
        massa. Aliquam erat volutpat. Pellentesque placerat egestas risus,
        sit amet euismod neque tristique vel. Praesent id sapien mattis,
        semper tortor vitae, tempor tortor. Nullam nec arcu pharetra,
        faucibus justo sed, porta erat.
      </p>
    </div>
  </div>
</section>
